@{
    IEnumerable<Gallery.Models.place> p = Session["places"] as IEnumerable<Gallery.Models.place>;
    foreach (var item in p)
    {
    <li class="nav-item active selected">
        <a class="nav-link" href="/Home/Index?placesid=@item.id" data-no="1">@item.placename <span class="sr-only">(current)</span></a>
    </li>  
    }
}